.icon_events{
    display: flex;
    width: 10%;
    color:rgba(0, 0, 0, 0.226);
    height: vw( 60px );
    align-items: center;
    justify-content: center;
}

.events_input{
    display: flex;
    width: 90%;
}