.obm_template_one {
  align-items: center;
  padding: vw(50px);
  .obm_template_one_right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .obm_template_one_headline {
    width: 100%;
    height: vw(150px);
    display: flex;
    margin-bottom: vw(15px);
    letter-spacing: vw(10.8px);
    //line-height: vw(120px);
  }
  .obm_template_one_para {
    width: 100%;
    height: vw(194px);
    display: flex;
    margin-top: vw(20px);
    letter-spacing: vw(0.4px);
  }
  .obm_template_one_left {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
