.our_vision_template_two {
  align-items: center;
  padding: vw(50px);
  .our_vision_template_two_left {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  .our_vision_template_two_headline {
    width: 100%;
    height: vw(80px);
    display: flex;
    margin-bottom: vw(15px);
    letter-spacing: vw(4.32px);
  }
  .our_vision_template_two_para {
    width: 100%;
    height: vw(194px);
    display: flex;
    margin-top: vw(20px);
    letter-spacing: vw(0.4px);
  }
  .our_vision_template_two_right {
    width: 55%;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
