.change-password-div {
  padding: vw(50px) vw(157px) vw(64px) vw(102px);
  .error-message {
    text-align: left;
  }
}
.change-password-title {
  background: rgba(94, 231, 223, 1);
  background: linear-gradient(
    90deg,
    rgba(94, 231, 223, 1) 0%,
    rgba(180, 144, 202, 1) 100%
  );
  color: transparent;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}
.container-login-flow-input--change-password {
  margin-top: vw(26px);
  .input-border-div {
    width: vw(654px);
    height: vw(65px);
  }
}
.change-password-verify-btn {
  width: vw(248px);
  height: vw(54px);
  margin-top: vw(30px);
}
.change-password-forgot-text {
  color: #a8a8a8;
}
.change-password-btn {
  width: vw(204px);
  height: vw(54px);
}
