/* ===============================================================
                    
                    input field text 

================================================================== */

.container-login-flow-input {
  // margin-bottom: vw(40px);

  label {
    //color: rgba(255, 255, 255, 0.65);
    //margin-bottom: vw(15px);
    //text-transform: uppercase;
    //font-size: vw(18px);
    //line-height: vw(24px);
    //letter-spacing: vw(2.7px);
    //@include fontBold700;

    //new css
    //font-size: vw(14px);
    //line-height: vw(19px);
    //@include fontExtraBold800;
    //color: #a8a8a8;

    //new css
    font-size: vw(18px);
    line-height: vw(24.55px);
    @include fontSemiBold600;
    color: rgba(255, 255, 255, 0.79);
    text-transform: capitalize;
    display: none;
  }
  .input-border-div {
    width: vw(318px);
    height: vw(60px);
    //background: linear-gradient(
    //  321.7deg,
    //  rgba(87, 203, 161, 0.7) 0%,
    //  rgba(46, 49, 146, 0.24) 100%
    //);
    // background: rgb(46, 49, 146);
    // background: linear-gradient(
    //   87deg,
    //   rgba(46, 49, 146, 1) 7.59%,
    //   rgba(87, 203, 161, 1) 94.35%
    // );
    border: double 1px transparent;
    background-image: $black-gradient,
      linear-gradient(
        87deg,
        rgba(46, 49, 146, 1) 7.59%,
        rgba(87, 203, 161, 1) 94.35%
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;

    @include common-box-shadow-mixin-2;
    border-radius: vw(48px);
    //text-align: center;
    //padding: 0.15em;
  }
  input {
    width: 100%;
    height: 100%;
    padding: 0 vw(30px);
    // color: rgba(255, 255, 255, 0.65);
    color: #ffffff;
    //font-size: vw(18px);
    @include fontSemiBold600;
    border: none;
    background: transparent;
    //background: rgb(45, 49, 53);
    //background: $black-gradient !important;
    margin-bottom: 0;
    border-radius: vw(48px);
    font-size: vw(12px);
    line-height: vw(16px);
    @include fontBold700;
    //margin: 1px;
    // &:focus {
    //   color: #ffffff;
    // }

    &::placeholder {
      //color: rgba(255, 255, 255, 0.65);
      //font-size: vw(18px);
      //@include fontSemiBold600;

      //new css
      font-size: vw(12px);
      line-height: vw(16px);
      @include fontSemiBold600;
      //@include fontItalicNunito;
      color: #a8a8a8;
      text-transform: capitalize;
    }
  }

  .input-border-div {
    //width: vw(604px);
    //height: vw(54px);
    //box-shadow: 0 vw(2px) vw(6px) rgba(0, 0, 0, 0.16);
    //border-radius: vw(30px);
    position: relative;

    /* &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 10%;
      bottom: 0;
      width: 80%;
      height: 2px;
      border-radius: vw(30px);
      background-color: rgba(112, 248, 78, 0.8);
    }*/
  }
}

// main page forms input
//.container-login-flow-input--forms,
//.container-login-flow-input--addExpense,
//.container-login-flow-input--addInvoice,
//.container-login-flow-input--addExpenseSmall {
//  .input-border-div {
//box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);

/*&::after {
      bottom: -1px;
      height: 1px;
    }*/
//  }

//input {
//  background-color: rgba(74, 80, 85, 0.46);
//}
//}

/*.container-login-flow-input--forms {
  .input-border-div {
    width: vw(336px);
    height: vw(52px);
  }

  label {
    margin-bottom: vw(20px);
  }
}*/

// add expense
.container-login-flow-input--addExpense {
  margin-bottom: 0;

  .input-border-div {
    width: vw(168px);
    height: vw(49px);
  }
}
.container-login-flow-input--addInvoice {
  margin-bottom: 0;

  .input-border-div {
    width: vw(196px);
    height: vw(52px);
    margin: 0 auto;

    &::after {
      left: 15%;
      width: 71%;
    }
  }

  label {
    display: none;
    margin-bottom: 0;
  }
}

.container-login-flow-input--addInvoice {
  .input-border-div {
    width: vw(310px);
  }
}

// add expense small
.container-login-flow-input--addExpenseSmall {
  margin-bottom: 0;

  .input-border-div {
    //width: vw(122px);
    //height: vw(52px);
    margin: 0 auto;

    //new css
    //width: vw(168px);
    //height: vw(49px);
    width: vw(134px);
    height: vw(49px);

    /*&::after {
      left: 25%;
      width: 55%;
    }*/
  }

  label {
    display: none;
    margin-bottom: 0;
  }
}
.container-login-flow-input--addExpense-title {
  .input-border-div {
    width: vw(161px);
    height: vw(49px);
    margin: auto;
  }
}
.container-login-flow-input--addExpenseBig {
  .input-border-div {
    width: vw(222px);
    height: vw(49px);
  }
}
// member day offs input
.container-login-flow-input--memberDayOffsInput,
.container-login-flow-input--memberDayOffsInputTitle {
  .input-border-div {
    //width: vw(320px);
    //height: vw(45px);
    box-shadow: 0 0 0;
    border-radius: 0;

    //new css
    width: vw(215px);
    background: transparent;
    height: vw(49px);
    input {
      padding: 0 vw(5px);
      border-radius: 0;
      //background: inherit;
      background: transparent !important;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      bottom: 0;
      //background-color: rgba(255, 255, 255, 0.65);
      background: linear-gradient(92.79deg, #57cba1 5.49%, #17868b 100.05%);
      box-shadow: vw(-2px) vw(-2px) vw(4px) rgba(74, 78, 83, 0.5),
        vw(2px) vw(2px) vw(6px) rgba(35, 37, 39, 0.8),
        vw(8px) vw(8px) vw(30px) rgba(35, 37, 39, 0.9),
        vw(-6px) vw(-6px) vw(20px) rgba(74, 78, 83, 0.7);
      border-radius: vw(30px);
    }
  }
}

.container-login-flow-input--memberDayOffsInputTitle {
  .input-border-div {
    input {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}

.container-login-flow-input--editModal {
  .input-border-div {
    &::after {
      display: none;
    }

    input {
      font-size: vw(28px);
    }
  }
}

.container-login-flow-input--editResource,
.container-login-flow-input--editResourceEmail {
  label {
    display: none;
  }

  .error-message {
    margin-top: vw(5px);
    margin-bottom: vw(10px);
  }
}

.container-login-flow-input--editResource {
  margin-bottom: 0;

  .input-border-div {
    //width: vw(200px);
    //margin-right: vw(20px);
    width: vw(161px);
    margin-right: vw(15px);
    &::after {
      display: none;
    }

    //input {
    //  font-size: vw(28px);
    //}
  }
}

.container-login-flow-input--editResourceEmail {
  margin-bottom: 0;

  .input-border-div {
    width: vw(336px);
    &::after {
      display: none;
    }

    //input {
    //  font-size: vw(18px);
    //}
  }
}

.disable_input_field {
  opacity: 0.5;
}

.disabled-input-field {
  .input-border-div,
  .input-border-div input {
    user-select: none !important;
    cursor: default !important;
    pointer-events: none !important;
    //opacity: 0.8;
    //color: rgba(255, 255, 255, 1);
    //box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.06);
  }

  .input-border-div::after {
    display: none;
  }
}

.react-select-elements--is-disabled {
  opacity: 0.65;

  .react-select-elements__indicator {
    display: none;
  }

  .react-select-elements__control--is-disabled {
    // color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.06);
    &::after {
      display: none;
    }
  }
}
.container-login-flow-input--upload-file {
  .input-border-div {
    width: vw(100px);
    background: transparent !important;
    border: 0;
    box-shadow: 0 0 0;
    input {
      background: transparent !important;
      border: 0;
      padding: 0;
    }
  }
}
//.input-border-div input:disabled {
//  opacity: 1;
//}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  //-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  //-webkit-transition-delay: 9999s;
  -webkit-text-fill-color: white;
  border: 1px solid inherit;
  -webkit-box-shadow: 0 0 0 vw(1000px) transparent inset;
  transition: background-color 10000s ease-in-out 0s;
}
