// ADD CARD DETAILS MODEL
.customModal--card-details {
  //padding: vw(30px) !important;
  //width: vw(1000px) !important;
  //height: vw(600px) !important;
  width: vw(905px) !important;
  height: auto !important;
  padding: vw(49px) vw(95px) vw(78px) vw(95px) !important;
}

//SAVE CARD DETAILS MODEL

.customModal--saveCards {
  //padding: vw(30px) !important;
  //width: vw(1000px) !important;
  //height: vw(470px) !important;
  width: vw(905px) !important;
  height: auto !important;
  padding: vw(49px) vw(95px) vw(78px) vw(95px) !important;
}

.customeModel_warning_befor_subscription_cancel--add-payment {
  padding: vw(58px) vw(70px) vw(58px) vw(57px) !important;
}

.employee-delete-popup {
  width: vw(600px) !important;
}
