// upload file
.upload-file-close-icon {
  color: #ff796d;
  border-left: 1px solid #ff796d;
  padding-left: vw(15px);
}
.file-name-display-div {
  min-width: vw(188px);
  min-height: vw(49px);
  background: rgba(35, 37, 39, 0.8);
  border-radius: vw(30px);
  padding-left: vw(25px);
  padding-right: vw(28px);
  margin-right: vw(8px) !important;
}
