.what_we_do_template_five{
    flex-direction: column;
    .what_we_do_template_five__top{
        display: flex;
        height: 20%;
        width: 100%;
        align-items: center;
        padding-left: vw( 50px );
        .what_we_do__top__headline{
            display: flex;
            height: vw( 72px );
            width: vw( 400px );
            align-items: center;
        }
        .what_we_do__top__line{
            display: flex;
            height: vw( 52px );
            width: vw( 50px );
            align-items: center;
            justify-content: center;
            div{
                display: flex;
                height: vw( 52px );
                width: vw( 5px );
                align-items: center;
                background-color: black;
            }
        }
    }
    .what_we_do_template_five__bottom{
        padding-top:vw( 50px );
        margin-top: vw( 100px );
        display: flex;
        height: 40%;
        width: 100%;
        padding-left: vw( 20px );
        padding-right: vw( 20px );
        flex-direction: column;
        justify-content: space-between;
        .what_we_do_template_five__bottom_blocks{
            display: flex;
            height: 32%;
            width: 100%;
            justify-content: space-between;
            .what_we_do_template_five__bottom_blocks_small{
                display: flex;
                height: 100%;
                width: vw( 440px );
                .what_we_do_template_five__bottom_blocks__left{
                    display: flex;
                    height: 100%;
                    width: 30%;
                }
                .what_we_do_template_five__bottom_blocks__right{
                    display: flex;
                    height: 100%;
                    width: 70%;
                    flex-direction: column;
                    .what_we_do_template_five__bottom_blocks__right_headline{
                        display: flex;
                        height: 50%;
                        width: 100%;
                    }
                    .what_we_do_template_five__bottom_blocks__right_para{
                        display: flex;
                        height: 50%;
                        width: 100%;
                    }
                }
            }
        }
    }
}