.font-29-light-italic {
  font-size: vw(29px);
  line-height: vw(39px);
  letter-spacing: vw(1.74px);
  color: rgba(255, 255, 255, 0.25);
  text-transform: capitalize;
  @include fontExtraLightItalic200;
}
.workflow-card-details-gray-button {
  height: vw(53px);
}
.pl-10 {
  padding-left: vw(10px);
}
.workflow-card-details-green-circle {
  width: vw(53px);
  height: vw(53px);
  border-radius: vw(27px);
  background-color: rgba(92, 204, 64, 1);
  box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-top: vw(12px);
  z-index: 99;
  h5 {
    margin-bottom: 0;
  }
}

.workflow-card-details-green-circle--solidGreen {
  background: rgba(92, 204, 64, 1);
}

.workflow-card-details-green-circle--greenBorder {
  background: rgba(74, 80, 85, 1);
  border: vw(3px) solid rgba(92, 204, 64, 1);
  box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
}

.font-18-bold-workflow {
  letter-spacing: vw(2.7px);
}

.workflow-card-details-gray-block {
  //width: vw(336px);
  //min-height: vw(75px);
  //border-radius: vw(23px);
  //box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  //padding: vw(20px) 0 vw(15px) vw(62px);
  //letter-spacing: vw(2.7px);
  //text-transform: uppercase;
  //background: rgba(74, 80, 85, 1);
  position: relative;
  //margin-left: vw(-20px);

  width: vw(372px);
  min-height: vw(90px);
  box-shadow: vw(8px) vw(8px) vw(30px) rgba(35, 37, 39, 0.9);
  border-radius: vw(12px);
  background: $black-gradient;
  z-index: 99;
  padding: vw(10px) vw(10px) vw(10px) vw(32px);
  color: rgba(255, 255, 255, 0.43);

  &::after {
    position: absolute;
    content: "";
    //width: 80%;
    //height: vw(1px);
    //background: rgba(112, 248, 78, 1);
    //border-radius: 0 0 vw(5px) vw(5px);
    //bottom: 0;
    //left: 10%;
    left: vw(-8px);
    top: 10%;
    width: vw(10px);
    height: 80%;
    //border-radius: vw(17px);
    border-top-left-radius: vw(17px);
    border-bottom-left-radius: vw(17px);
    background: linear-gradient(
      87.98deg,
      rgba(0, 233, 224, 0.7) 7.59%,
      rgba(87, 203, 161, 0.7) 94.35%
    );
    z-index: -1;
  }
}

.workflow-card-details-gray-block--active {
  //background: #5ccc40;
  background: linear-gradient(
    180deg,
    rgba(39, 186, 167, 1) 0%,
    rgba(87, 203, 161, 1) 100%
  );

  color: rgba(255, 255, 255, 1);
}

button.workflow-card-delete-img-div {
  background-color: inherit;
  border: 0;
  padding: 0;
  border-radius: vw(39px);
}

.workflow-card-delete-img-div {
  width: vw(53px);
  height: vw(53px);
  margin-right: vw(25px);

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 vw(3px) vw(6px) #00000029;
  }
}
.workflow-card-details-gray-block-text {
  font-size: vw(18px);
  line-height: 33px;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  @include fontExtraBold800;
  margin-bottom: 0;
}
.workflow-step-name-icon {
  width: vw(42px);
  height: auto;
  margin-right: vw(30px);
}
