.freightsans-30-semibold {
  @include fontFreightSansProSemibold;
  font-size: vw(30px);
  line-height: vw(39px);
  color: #d4d4d4;
}
.video-calling-share-meeting-link-title {
  font-size: vw(24px);
  line-height: vw(32px);
  letter-spacing: 0.125em;
  text-transform: uppercase;
  @include fontExtraBold800;
  color: rgba(255, 255, 255, 0.79);
}
.pt-53 {
  padding-top: vw(53px);
}
.share-link-column-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.meeting-link-div {
  //width: vw(596px);
  //height: vw(67px);
  //padding: 0 vw(53px) 0 vw(39px);
  margin-top: vw(43px);

  //new css
  width: vw(717px);
  height: vw(60px);
  padding: 0 vw(17px) 0 vw(36px);
}
.copy-link-div,
.meeting-link-div {
  //background: rgba(74, 80, 85, 0.27);
  //border-radius: vw(78px);
  //box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);

  //new css
  border: double 1px transparent;
  background-image: $black-gradient,
    linear-gradient(
      87deg,
      rgba(46, 49, 146, 1) 7.59%,
      rgba(87, 203, 161, 1) 94.35%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  @include common-box-shadow-mixin-2;
  border-radius: vw(48px);
}

.meeting-link-img-div {
  //width: vw(29px);
  //height: vw(33px);
  cursor: pointer;

  //new css
  width: vw(22px);
  height: vw(25px);
  img {
    width: 100%;
    height: 100%;
  }
}
.meeting-link-text-div {
  width: 90%;
  h5 {
    padding-top: vw(5px);
    //font-size: vw(22px);
    //line-height: vw(30px);
    //text-transform: capitalize;
    //@include fontSemiBold600;

    //new css
    font-size: vw(18px);
    line-height: vw(25px);
    @include fontBold700;
    color: rgba(255, 255, 255, 0.79);
  }
}
.font-20-Kollektif-Italic {
  font-size: vw(20px);
  line-height: vw(20px);
  color: rgba(255, 255, 255, 0.2);
}
.or-padding-div {
  //padding-top: vw(32px);
  //padding-bottom: vw(50px);

  //new css
  padding-top: vw(28px);
  padding-bottom: vw(28px);
  line-height: vw(33px);
  font-size: vw(18px);
  letter-spacing: vw(1.84px);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.23);
  @include fontExtraBold800;
}

.share-meeting-link-btn {
  width: vw(209px);
  height: vw(48px);
}
/*================================================================
                   
                      Modal Two

================================================================*/
.react-select-container--addparticipant {
  //width: vw(300px) !important;
  //height: vw(59px) !important;
  margin-right: vw(183px);
  .react-select-elements {
    &__control {
      border-radius: vw(78px) !important;
    }
    &__menu-notice--no-options,
    &__option,
    &__option--is-focused,
    &__option--is-selected {
      font-size: vw(19px) !important;
    }
  }
}
.video-calling-share-meeting-link-title--add-partcipant {
  padding-top: vw(39px);
  margin: 0;
}
.add-participate-inner-div {
  //padding: vw(40px) vw(97px) vw(38px) vw(89px);

  //new css
  padding: vw(66px) vw(97px) vw(44px) vw(104px);
}
.add-participants-or-padding-div {
  padding-left: vw(50px);
  padding-right: vw(40px);
}
.copy-link-div {
  //width: vw(197px);
  //height: vw(59px);
  padding-right: vw(34px);
  padding-left: vw(41px);

  //new css
  width: vw(224px);
  height: vw(60px);
  margin-left: vw(183px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy-link-img-div {
  width: vw(22px);
  //height: vw(25px);
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}
.copy-link-text {
  h5 {
    font-size: vw(19px);
    line-height: vw(26px);
    @include fontSemiBold600;
    text-transform: capitalize;
    padding-top: vw(5px);
  }
}
.font-13-regular {
  //font-size: vw(13px);
  //line-height: vw(18px);
  text-transform: capitalize;
  //color: rgba(255, 255, 255, 0.64);
  //letter-spacing: vw(1.04px);
  //@include fontRegular400;
  //new css
  font-size: vw(18px);
  line-height: vw(25px);
  color: rgba(255, 255, 255, 0.79);
  @include fontBold700;
}
.share-link-member-img {
  .create-project-add-member-img-block,
  .create-project-add-member-img-text-block {
    //width: vw(65px);
    margin-bottom: vw(15px);

    //new css
    width: vw(108px);
  }
  .font-16-semiBold {
    font-size: vw(16px);
    line-height: vw(22px);
    @include fontSemiBold600;
    color: #a8a8a8;
    text-align: center;
    margin-bottom: 0;
  }
  .create-project-add-member-img-block__remove {
    //  right: vw(-13px);
    //top: vw(10px);

    //new css
    right: 0;
  }
  .create-project-add-member-img-block {
    //height: vw(80px);

    //new css
    height: vw(108px);

    &__imgMember {
      border-radius: 0;
    }
  }
}

.share-link-back-arrow {
  position: absolute;
  top: vw(9px);
  left: vw(46px);
  font-size: vw(25px);
  cursor: pointer;
}
.font-13-bold {
  font-size: vw(13px);
  line-height: vw(18px);
  text-transform: capitalize;
  @include fontBold700;
}
.share-link-button {
  height: vw(48px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
