// forgot password

.signup-success-block--forgot-password,
.signup-success-block--reset-password-link-broke {
  padding: 0;
  text-align: left;

  h1 {
    margin-bottom: vw(14px);
    &::after {
      width: 100%;
      margin-bottom: vw(39px);
    }
  }
}

.signup-success-block--forgot-password {
  //p {
  //width: vw(602px);
  //  margin-bottom: vw(78px);
  //}
  //width: vw(318px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .forgot-password-title {
    font-size: vw(18px);
    line-height: vw(25.54px);
    letter-spacing: 0.01em;
    width: fit-content;
    color: transparent;
    background: rgb(224, 195, 252);
    background: linear-gradient(
      90deg,
      rgba(224, 195, 252, 1) 0%,
      rgba(142, 197, 252, 1) 100%
    );
    background-clip: text;
    //-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include fontMontserratExtraBold;
    //@include fontExtraBold800;
  }

  .container-login-flow-input {
    padding-top: vw(106px);
  }
  .auth-logo-img {
    margin-bottom: vw(106px);
  }
}

//.forgot-password-padding-block {
//  padding: 0 vw(115px) 0 vw(127px);
//}

.forgot-password-button-block {
  justify-content: flex-end;
  //margin-top: vw(90px);
  margin-top: vw(79px);
}

p.forgot-password-confirmation-text {
  width: vw(594px);
  margin: 0 auto;
  text-align: center;
  letter-spacing: vw(0.35px);
  margin-top: vw(166px);
  margin-bottom: vw(150px);
}

.signup-success-block--reset-password-link-broke {
  height: auto;
  padding-bottom: vw(75px);

  h2 {
    letter-spacing: vw(3.6px);
    margin-bottom: vw(28px);
  }

  p {
    margin-bottom: vw(44px);
  }
}
.forgot-password-padding-block--set-member {
  padding-left: vw(60px);
  padding-top: vw(50px);
  padding-right: vw(80px);
}
