// company day off OLD
.login-company-day-off__titile-div {
  padding-top: vw(59px);
  padding-left: vw(114px);
  //margin-bottom: vw(109px);
  z-index: 99;
  //new css
  margin-bottom: vw(113px);
}

.login-company-day-off__content-div {
  //padding-left: vw(259px);

  display: flex;
  align-items: flex-start;

  //new css
  padding-left: vw(142px);
}

.login-company-day-off__display-form {
  padding-right: vw(313px);

  button {
    //margin-top: vw(91px);

    //new css
    margin-top: vw(64px);
  }

  h5 {
    color: rgba(255, 255, 255, 0.79);
    margin-bottom: vw(48px);
  }
}
.day-off-added-text {
  font-size: vw(24px);
  line-height: vw(34.06px);
  letter-spacing: 1%;
  color: transparent;
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(224, 195, 252, 1) 0%,
    rgba(142, 197, 252, 1) 100%
  );

  background-clip: text;
  //-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include fontMontserratExtraBold;
  text-transform: capitalize;
}

.login-company-day-off__display-data {
  flex-grow: 1;
  flex-shrink: 0;
  //background-color: rgba(105, 105, 108, 0.16);
  position: absolute;
  right: 0;
  left: 51%;
  top: 0;
  height: 100vh;
  //box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  padding: vw(214px) vw(86px) vw(214px) vw(103px);

  //new css
  background: rgba(71, 77, 83, 0.4);
  box-shadow: vw(2px) vw(2px) vw(6px) rgba(35, 37, 39, 0.8);
}

.login-company-day-off__table {
  margin-top: vw(91px);
  .login-company-day-off__thead {
    display: flex;
    align-items: flex-start;
    h2 {
      width: 50%;
      //color: rgba(255, 255, 255, 0.65);
      //letter-spacing: vw(2.7px);
      text-transform: uppercase;
      //margin-bottom: vw(46px);

      //new css
      color: rgba(255, 255, 255, 0.79);
      letter-spacing: 0.15em;
      margin-bottom: vw(39px);
    }
  }
  .login-company-day-off__tbody {
    height: vw(300px);
    overflow: auto;
  }
  .login-company-day-off__tr {
    display: flex;
    align-items: flex-start;
    p {
      width: 50%;
      text-transform: capitalize;
      margin-bottom: vw(25px);
    }
  }
}
