/* ===============================================================
                    
                    typography Nunito

================================================================== */

@font-face {
  font-family: Nunito-ExtraLight;
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLight.ttf");
}

@font-face {
  font-family: Nunito-ExtraLightItalic;
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Nunito-LightItalic;
  src: url("../../assets/fonts/Nunito/Nunito-LightItalic.ttf");
}

@font-face {
  font-family: Nunito-Italic;
  src: url("../../assets/fonts/Nunito/Nunito-Italic.ttf");
}

@font-face {
  font-family: Nunito-Light;
  src: url("../../assets/fonts/Nunito/Nunito-Light.ttf");
}

@font-face {
  font-family: Nunito-Regular;
  src: url("../../assets/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url("../../assets/fonts/Nunito/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: Nunito-SemiBoldItalic;
  src: url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Nunito-Bold;
  src: url("../../assets/fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito-Black;
  src: url("../../assets/fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
  font-family: Nunito-ExtraBold;
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: Nunito-ExtraBoldItalic;
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf");
}

/* ===============================================================
                    
                    typography Roboto

================================================================== */

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
/*================================================================

                    Lato

===================================================================*/
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

/*================================================================

                    FreightSans Pro Semibold

===================================================================*/
@font-face {
  font-family: FreightSansProSemibold-Regular;
  src: url("../../assets/fonts/FreightSans/FreightSansProSemibold-Regular.ttf");
}

/*================================================================

                    Kollektif

===================================================================*/
@font-face {
  font-family: Kollektif-Italic;
  src: url("../../assets/fonts/kollektif/Kollektif-Italic.ttf");
}
/*================================================================

                    Montserrat

===================================================================*/
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: Montserrat-Black;
  src: url("../../assets/fonts/montserrat/Montserrat-Black.ttf");
}
/*================================================================

                    Rubix

===================================================================*/
@font-face {
  font-family: Rubik-Regular;
  src: url("../fonts/rubix/Rubik-Regular.ttf");
}
@font-face {
  font-family: Rubik-Bold;
  src: url("../fonts/rubix/Rubik-Bold.ttf");
}
/*=======================================================================
                      
                        Manrope

========================================================================*/
@font-face {
  font-family: Manrope-Bold;
  src: url("../fonts/Manrope/static/Manrope-Bold.ttf");
}
/*=======================================================================
                      
                        OpenSans

========================================================================*/
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/openSans/OpenSans-Regular.ttf");
}

/*=======================================================================
                      
                       Poppins

========================================================================*/
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
